<%- include("partials/header.ejs"); %>


<div class="container my-container">

    <h1><%= userName %></h1>

    <table class="my-table">
        <tr>
            <td class="follower-data"><p>followers</p></td>
            <td class="follower-data"><p>following</p></td>
        </tr>
        <tr>
            <td class="follower-data">
                <%= myself.followers.length  %>
            </td>
            <td class="follower-data">
                <%= myself.following.length %>
            </td>
        </tr>
    </table>


    <div class="tweetForm">
        <form action="/home" method="POST">

            <div class="row">
                <div class="col-sm-12 form-group">
                    <textarea name="tweet" class="form-control" rows="3" cols="100" required></textarea>
                </div>
                <div class="col-sm-12 form-group">
                    <button class="btn btn-lg btn-primary" type="submit">Tweet</button>
                </div>
            </div>

        </form>
    </div>

    <div>
        <table class="table">

            <% tweets.forEach((tweet) => { %>
            <% let writer = tweets[tweets.length - tweets.indexOf(tweet) - 1].writer %>
            <% let tweetMessage =  tweets[tweets.length - tweets.indexOf(tweet) - 1].tweet %>
            <tr>
                <td>
                    <%= writer %>
                </td>
                <td>
                    <%= tweetMessage %>
                </td>
                <% if (writer != userName)  {%>
                <% if (!myself.following.includes(writer)) { %>
                <td>
                    <a class="" href="/follow/<%=writer%>" role="button">follow</a>
                </td>
                <% } else {%>
                <td>
                    <a class="" href="/unfollow/<%=writer%>" role="button">unfollow</a>
                </td>
                <% } %>
                <% } %>
            </tr>
            <% }); %>

        </table>
    </div>
</div>


<footer>Tontei 2020</footer>

<%- include("partials/footer") %>